<%= stylesheet_link_tag "index" %>

<body>
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>Do Something Different Today</h1>
						<h3>Change what you want to change, and become who you want to be.</h3>
						<hr class="intro-divider">
							<a href="#about" class="btn btn-circle">
								<i class="fa fa-angle-double-down animated"></i>
							</a>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

	<div id="about" class="content-section-a">

		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
			   		</br></br></br></br></br>
					<div class="clearfix"></div>
					<h2 class="section-heading">Everyone Has Goals</h2>
					<p class="lead">We are here to help you achieve them. Using well-researched principles of behavior change therapy, we're using psychology to help you do the things you want to do.</p>
					<a href="/change" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Set a Goal Today</span></a>							
				</div>


				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<%= image_tag "ipad.png"%>
				</div>
			</div>

		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-a -->

	<div class="content-section-b">
	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container">
		  <!-- Three columns of text below the carousel -->
		<h2 class="section-heading" style="text-align: center">How We Help</h2>
		  <div class="row">
			<div class="col-lg-4 ">
			  <h3 style="text-align: center">Cooperation</h3>
			  <p>Setting goals with friends is helpful for both parties. Not only can you push each other on a daily basis, but now, someone knows if you didn't follow through. Using Metamorphosis with friends is also a great way to increase motivation and greatly increase the likelihood both parties reach their goals. </p>
			</div><!-- /.col-lg-4 -->

			<div class="col-lg-4">
			  <h3 style="text-align: center">Reinforcement</h3>
			  <p>Reinforcing a behavior is key to increasing the likelihood of performing it again. If you want to put your money where your mouth is, add a monetary value to your goal. Every day you get closer to achieving your goal, you get a corresponding amount of your money back. When you reach it, we'll refund the charge.</p>
			</div><!-- /.col-lg-4 -->

			<div class="col-lg-4">
			  <h3 style="text-align: center">Tracking</h3>
			  <p>Other websites only track whether or not you performed an action (binary), but research has shown that tracking progress over time is in itself a self-reinforcing behavior. We make it easy to see where you started from, how far you've come, and how the task has gotten easier over time.</p>
			</div>
		  </div><!-- /.row -->
		</br></br></br>
		<a href="/change" class="btn btn-default btn-lg" style="float: right;"><i class="fa"></i> <span class="network-name">Set a Goal Today</span></a>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-b -->
</body>