<div class="jumbotron" id= "fp_jumbo">
  <div class="container">
    <h1>Do Something Different Today</h1>
    <p>Change what you want to change, and become who you want to be.</p>
    <!--<p><a class="btn btn-primary btn-lg" role="button">Learn How&raquo;</a></p>!-->
  </div>
</div>